*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar{
    position: relative;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: black;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.active{
    width: 78px;
}

#menu-icon{
    position: absolute;
    right: 20px;
    top: 25px;
   gap: 2px;
   flex-direction: column;
   display: flex;
}
#menu-icon div{
    background-color: white;
    height: 4px;
    width: 40px;
}
 

.logo{
    color: white;
    letter-spacing: 1px;
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 20px;
}
.active .logo{
    display: block;
}

.sidebar ul{
    margin-left: -30px;
    position: absolute;
    top: 40px;
    padding:  30px  ;
}

.sidebar li{
    list-style: none;
}

.sidebar ul li a{
    align-items: center;
    font-size: 17px;
    padding: 13px;
    display: flex;
    color: white;
    text-decoration: none;
}
.sidebar ul{
    position: absolute;
    top: 40px;
    padding:  30px  ;
}

.sidebar li{
    list-style: none;
}

.sidebar ul li a{
    align-items: center;
    font-size: 17px;
    padding: 13px;
    display: flex;
    color: white;
    text-decoration: none;
}

.sidebar li a:hover{
    border-radius: 10px;
    background-color: white;
    color: black;
}
.sidebar span{
    padding-left: 17px;
}

.active span{
    display: none;
}

.active .logo{
    display: none;
}




/* dashboard  */

.home-section{
  position: relative;
  background: white;
  min-height: 100vh;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.active ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}



.account-table{
    border-collapse: collapse;
    max-width: 1280px;
    font-size: 20px;
    border: 2px solid lightblue;
}

.account-table th{
    border-bottom: 2px solid lightblue;
    color: rgba(0, 0, 0, 0.651);
    padding: 10px 8px;
}
.account-table td{
    color: blue;
    padding: 8px 8px;
}





/* .div-container{
    display: flex;
}
.users-div{
    border-radius: 10px;
    height: 200px;
    width: 320px;
    background-color: #A2B38B;
}
h6{
    padding: 3px 20px;
    font-size: 15px;
}
p{
    color: blue;
    position: relative;
    left: 100px;
    bottom: 30px;
} */
